<ion-header>
  <ion-toolbar>
    <ion-title>
      Envio por post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
   Ejemplo de enviar por post hacia un url externo
   <p>Datos a enviar</p>
   <ion-list>
     <ion-input type="text" placeholder="nombre"></ion-input>
   </ion-list>
   <ion-list>
    <ion-input type="text" placeholder="total"></ion-input>
  </ion-list>
  <ion-list>
    <button   placeholder="nombre" (click)="Enviar()">Enviar  post</button >
  </ion-list>
  </div>
</ion-content>
